In [1]:
import pandas as pd

In [70]:
path='../data/processed/01_FULL_raw_table.csv'
raw_df = pd.read_csv(path)
#NoJOB = TRUE . muestra todos
#NoJOb = FALSE -> NO muestra nojobs

def make_final_base_table(raw_df, country,nojob):
    # creamos un nuevo df con las columnas necesarias más una
    df = raw_df[['country', 'title', 'age', 'gender']]

    df = df.rename(columns={'country': 'Country',
                            'title': 'Job Title',
                            'age': 'Age',
                            'gender': 'Quantity'
                            })
    
    # se añade una columna sobre gender con la cuenta de pais, job, tabajo
    df = df.groupby(['Country', 'Job Title', 'Age']).agg('count').reset_index()
    df = df[df['Quantity'].notna()]
    
    
    if nojob == False:
        filter_no_current_job = df['Job Title'] != 'No Full-Time Job'
        df=df[filter_no_current_job]
        

    # Si no se mete valor, devuelve el df tal cual.
    if country == 'all':
        df['Percentage'] = df['Quantity'] / df['Quantity'].sum() * 100
        df = df.sort_values(by=['Percentage'], ascending=False)
        return df

    # Si se mete valor, hace un filtro y recalcula el porcentaje.
    else:
        filter_country = df['Country'] == country
        df = df[filter_country]
        df['Percentage'] = df['Quantity'] / df['Quantity'].sum() * 100
        df = df.sort_values(by=['Percentage'], ascending=False)
        return df

    
    print(df['Country'].count())

    
def pretty_df_percentage(df):
    df['Percentage'] = df['Percentage'].round(2).apply(lambda x : str(x)+'%')
    return df

def main_table_ch1 (raw_df,pais='all',nojob=True):
    table = make_final_base_table(raw_df,pais,nojob)
    final_table = pretty_df_percentage(table)

    FILES_BASE_PATH = '../data/results/'
    name = FILES_BASE_PATH + 'challenge1.csv'
    final_table.to_csv(name, index=False)

    return final_table

In [76]:
df =main_table_ch1(raw_df)

In [77]:
df

,Country,Job Title,Age,Quantity,Percentage
6101,United Kingdom,No Full-Time Job,43,27,0.28%
2218,Germany,No Full-Time Job,19,27,0.28%
2216,Germany,No Full-Time Job,17,26,0.27%
2217,Germany,No Full-Time Job,18,26,0.27%
1464,France,No Full-Time Job,40,25,0.26%
1444,France,No Full-Time Job,20,25,0.26%
2215,Germany,No Full-Time Job,16,25,0.26%
5322,Spain,No Full-Time Job,41,25,0.26%
6073,United Kingdom,No Full-Time Job,15,24,0.25%
2214,Germany,No Full-Time Job,15,23,0.24%
2219,Germany,No Full-Time Job,20,22,0.23%
1442,France,No Full-Time Job,18,22,0.23%
5300,Spain,No Full-Time Job,19,22,0.23%
2224,Germany,No Full-Time Job,25,22,0.23%
3307,Italy,No Full-Time Job,25,21,0.22%
3313,Italy,No Full-Time Job,31,20,0.21%
3323,Italy,No Full-Time Job,41,20,0.21%
2239,Germany,No Full-Time Job,40,20,0.21%
1443,France,No Full-Time Job,19,19,0.2%
6074,United Kingdom,No Full-Time Job,16,19,0.2%
6077,United Kingdom,No Full-Time Job,19,19,0.2%
6076,United Kingdom,No Full-Time Job,18,18,0.19%
6098,United Kingdom,No Full-Time Job,40,18,0.19%
6099,United Kingdom,No Full-Time Job,41,18,0.19%
4157,Poland,No Full-Time Job,19,18,0.19%
4156,Poland,No Full-Time Job,18,18,0.19%
5321,Spain,No Full-Time Job,40,18,0.19%
3304,Italy,No Full-Time Job,22,18,0.19%
6075,United Kingdom,No Full-Time Job,17,17,0.18%
1449,France,No Full-Time Job,25,17,0.18%
...,...,...,...,...,...
2150,Germany,Geographic Information Systems Data Manager (G...,59,1,0.01%
2149,Germany,Geographic Information Systems Data Manager (G...,50,1,0.01%
2146,Germany,Geographic Information Systems Data Manager (G...,37,1,0.01%
2145,Germany,Geographic Information Systems Data Manager (G...,30,1,0.01%
2144,Germany,Geographic Information Systems Data Manager (G...,29,1,0.01%
2143,Germany,Geographic Information Systems Data Administra...,61,1,0.01%
2142,Germany,Geographic Information Systems Data Administra...,55,1,0.01%
2163,Germany,Geographic Information Systems Data Specialist...,49,1,0.01%
2165,Germany,Geographic Information Systems Data Specialist...,54,1,0.01%
2191,Germany,Internet Database Specialist,41,1,0.01%
2181,Germany,Head of Information Systems and Data Processing,46,1,0.01%
2190,Germany,Internet Database Specialist,40,1,0.01%
2189,Germany,Internet Database Specialist,36,1,0.01%
2187,Germany,Internet Database Specialist,28,1,0.01%
2186,Germany,Internet Database Specialist,24,1,0.01%
2185,Germany,Internet Database Specialist,19,1,0.01%
2184,Germany,Health Data Analyst,31,1,0.01%
2183,Germany,Head of Information Systems and Data Processing,50,1,0.01%
2182,Germany,Head of Information Systems and Data Processing,48,1,0.01%
2180,Germany,Head of Information Systems and Data Processing,45,1,0.01%
2166,Germany,Geographic Information Systems Database Admini...,19,1,0.01%
2178,Germany,Head of Information Systems and Data Processing,34,1,0.01%
2177,Germany,Head of Information Systems and Data Processing,33,1,0.01%
2175,Germany,Head of Information Systems and Data Processing,23,1,0.01%
2174,Germany,Head of Information Systems and Data Processing,22,1,0.01%
2172,Germany,Geographic Information Systems Database Admini...,44,1,0.01%
2170,Germany,Geographic Information Systems Database Admini...,34,1,0.01%
2169,Germany,Geographic Information Systems Database Admini...,30,1,0.01%
2167,Germany,Geographic Information Systems Database Admini...,26,1,0.01%
6140,United Kingdom,Survey Data Technician,38,1,0.01%

In [86]:
list_count = ['Spain','Germany']
df_filter = df['Country'].isin(list_count)
df[df_filter]

,Country,Job Title,Age,Quantity,Percentage
2218,Germany,No Full-Time Job,19,27,0.28%
2216,Germany,No Full-Time Job,17,26,0.27%
2217,Germany,No Full-Time Job,18,26,0.27%
2215,Germany,No Full-Time Job,16,25,0.26%
5322,Spain,No Full-Time Job,41,25,0.26%
2214,Germany,No Full-Time Job,15,23,0.24%
2219,Germany,No Full-Time Job,20,22,0.23%
5300,Spain,No Full-Time Job,19,22,0.23%
2224,Germany,No Full-Time Job,25,22,0.23%
2239,Germany,No Full-Time Job,40,20,0.21%
5321,Spain,No Full-Time Job,40,18,0.19%
5325,Spain,No Full-Time Job,44,17,0.18%
5324,Spain,No Full-Time Job,43,16,0.17%
5299,Spain,No Full-Time Job,18,15,0.16%
2240,Germany,No Full-Time Job,41,15,0.16%
2232,Germany,No Full-Time Job,33,15,0.16%
2225,Germany,No Full-Time Job,26,15,0.16%
2244,Germany,No Full-Time Job,45,15,0.16%
2230,Germany,No Full-Time Job,31,15,0.16%
2242,Germany,No Full-Time Job,43,14,0.15%
2234,Germany,No Full-Time Job,35,14,0.15%
2243,Germany,No Full-Time Job,44,14,0.15%
2245,Germany,No Full-Time Job,46,14,0.15%
5306,Spain,No Full-Time Job,25,14,0.15%
2226,Germany,No Full-Time Job,27,14,0.15%
5327,Spain,No Full-Time Job,46,14,0.15%
2227,Germany,No Full-Time Job,28,13,0.13%
5308,Spain,No Full-Time Job,27,13,0.13%
2253,Germany,No Full-Time Job,54,13,0.13%
2248,Germany,No Full-Time Job,49,13,0.13%
...,...,...,...,...,...
2151,Germany,Geographic Information Systems Data Manager (G...,63,1,0.01%
2150,Germany,Geographic Information Systems Data Manager (G...,59,1,0.01%
2149,Germany,Geographic Information Systems Data Manager (G...,50,1,0.01%
2146,Germany,Geographic Information Systems Data Manager (G...,37,1,0.01%
2145,Germany,Geographic Information Systems Data Manager (G...,30,1,0.01%
2144,Germany,Geographic Information Systems Data Manager (G...,29,1,0.01%
2143,Germany,Geographic Information Systems Data Administra...,61,1,0.01%
2142,Germany,Geographic Information Systems Data Administra...,55,1,0.01%
2163,Germany,Geographic Information Systems Data Specialist...,49,1,0.01%
2165,Germany,Geographic Information Systems Data Specialist...,54,1,0.01%
2191,Germany,Internet Database Specialist,41,1,0.01%
2181,Germany,Head of Information Systems and Data Processing,46,1,0.01%
2190,Germany,Internet Database Specialist,40,1,0.01%
2189,Germany,Internet Database Specialist,36,1,0.01%
2187,Germany,Internet Database Specialist,28,1,0.01%
2186,Germany,Internet Database Specialist,24,1,0.01%
2185,Germany,Internet Database Specialist,19,1,0.01%
2184,Germany,Health Data Analyst,31,1,0.01%
2183,Germany,Head of Information Systems and Data Processing,50,1,0.01%
2182,Germany,Head of Information Systems and Data Processing,48,1,0.01%
2180,Germany,Head of Information Systems and Data Processing,45,1,0.01%
2166,Germany,Geographic Information Systems Database Admini...,19,1,0.01%
2178,Germany,Head of Information Systems and Data Processing,34,1,0.01%
2177,Germany,Head of Information Systems and Data Processing,33,1,0.01%
2175,Germany,Head of Information Systems and Data Processing,23,1,0.01%
2174,Germany,Head of Information Systems and Data Processing,22,1,0.01%
2172,Germany,Geographic Information Systems Database Admini...,44,1,0.01%
2170,Germany,Geographic Information Systems Database Admini...,34,1,0.01%
2169,Germany,Geographic Information Systems Database Admini...,30,1,0.01%
2167,Germany,Geographic Information Systems Database Admini...,26,1,0.01%